<h2>一覧画面</h2>
<%= link_to "全て表示", trn_task_details_path %>
<%= link_to "完了のみ", trn_task_details_path + "?end_flg=true", style:"margin-left:5px;" %>
<%= link_to "未完了のみ", trn_task_details_path + "?end_flg=false", style:"margin-left:5px;" %>
<%= link_to "タスクを登録", new_trn_task_detail_path, class:"pull-right" %>
<table class="table table-bordered">
  <thead>
  <tr>
   <tr>
    <th class="grid-th-width1">ﾀｽｸID</th>
    <th class="grid-th-width1">親ID</th>
    <th class="grid-th-width3">ﾀｽｸ名</th>
    <th class="grid-th-width2">担当者</th>
    <th class="grid-th-width2">開始予定日</th>
    <th class="grid-th-width2">作業開始日</th>
    <th class="grid-th-width2">終了予定日</th>
    <th class="grid-th-width2">作業完了日</th>
    <th class="grid-th-width1">進捗率</th>
    <th class="grid-th-width1">編集</th>
    <th class="grid-th-width2">完了ボタン</th>
    <th class="grid-th-width1">更新日時</th>
    <th class="grid-th-width1">削除</th>
   </tr>
  </tr>
  </thead>
  <tbody id="list">
  <% @tasks.each do |task| %>
    <tr style="height:48px;" class="unsortable" data-model-name="trn_task_detail" data-update-url="<%= sort_trn_task_detail_path(task)%>" >
        <td style="vertical-align: middle;text-align: center;font-size:9pt;"><%= task.task_id %></td>
        <td style="vertical-align: middle;text-align: center;font-size:9pt;"><%= task.relation_step_id %></td>
        <td style="vertical-align: middle"><%= link_to task.task_title, task %></td>
        <td style="vertical-align: middle;text-align: center;font-size:9pt;"><%= link_to user_nm_tag(task.tanto_user_id), task %></td>
        <td style="vertical-align: middle;text-align: center;font-size:9pt;"><%= kigen_format(task.kaishiyotei_ymd) %></td>
        <td style="vertical-align: middle;text-align: center;font-size:9pt;"><%= kigen_format(task.start_ymd) %></td>
        <td style="vertical-align: middle;text-align: center;font-size:9pt;"><%= kigen_format(task.syuryouyotei_ymd) %></td>
        <td style="vertical-align: middle;text-align: center;font-size:9pt;"><%= kigen_format(task.end_ymd) %></td>
        <td style="vertical-align: middle;text-align: center;font-size:9pt;"><%= task.progress_rate %> % </td>
          <% if task_roll_check? %>
          <td style="vertical-align: middle;text-align: center;font-size:9pt;"><%= link_to "編集", edit_trn_task_detail_path(task) %> </td>
          <td style="vertical-align: middle;text-align: center"><%= kanryo_tag(task) %></td>
          <td style="vertical-align: middle;text-align: center;font-size:8pt;"><%= dt_format(task.updt_ymd) %></td>
          <td style="vertical-align: middle;text-align: center;font-size:9pt;"><%= link_to "削除", trn_task_detail_path(task), method:"delete" , data: { confirm: '本当に削除してよろしいですか？' } %> </td>
          <% else %>
          <td style="vertical-align: middle;text-align: center;font-size:9pt;"> </td>
          <td style="vertical-align: middle;text-align: center;font-size:9pt;"> </td>
          <% end %>
    </tr>
  <% end %>
  </tbody>
  </table>
<div style="text-align: center">
  <%= will_paginate @tasks,
                    renderer: BootstrapPagination::Rails,
                    previous_label: "前へ",
                    next_label: "次へ",
                    inner_window: 1,
                    outer_window: 0,
                    class:"pagination-sm"
  %>
</div>