<h1>ログイン</h1>

<%= form_for(:session, url: sessions_path) do |f| %>

  <table class="table table-bordered">
    <tr>
      <th><%= f.label :email, 'メールアドレス' %></th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th><%= f.label :password, 'パスワード' %></th>
      <td><%= f.password_field :password %></td>
    </tr>
  </table>
      <div class="row well" style="margin:20px 0 0 0;padding:10px;">
        <div class="col-sm-12">
          <div style="text-align: center">
          <%= f.submit 'ログインする', class:"btn btn-primary", style:"text-align:center" %>
          </div>
        </div>
      </div>
<% end %>