<h2>課題一覧画面</h2>
<!-- 一覧画面の作成②で追加 ここから -->
<!--<%= link_to "全て表示", trn_kadai_kanris_path %>-->
<!--<%= link_to "完了のみ", trn_kadai_kanris_path + "?kanryo=true", style:"margin-left:5px;" %>-->
<!--<%= link_to "未完了のみ", trn_kadai_kanris_path + "?kanryo=false", style:"margin-left:5px;" %>-->
<%= link_to "タスクを登録", new_trn_kadai_kanri_path, class:"square_btn" %>
<!-- 一覧画面の作成②で追加 ここまで -->
<table class="table table-bordered">
  <thead>
  <tr bgcolor="#cccccc">
    <th class="grid-th-width1 pc-only">No</th>
    <th class="grid-th-width2">タイトル</th>
    <th class="grid-th-width2">内容</th>
    <th class="grid-th-width1">担当者</th>
    <th class="grid-th-width1">ステータス</th>
    <th class="grid-th-width1">重要度</th>
    <th class="grid-th-width2"></th>
  </tr>
  </thead>
  <tbody>
  <% @trn_kadai_kanris.each do |trn_kadai_kanri| %>
      <tr style="height:48px;">
        <td class="pc-only"><%= @grid_no.to_s %></td>
        <td style="vertical-align: middle"><%= trn_kadai_kanri.kadai_title %></td>
        <td style="vertical-align: middle"><%= trn_kadai_kanri.kadai_contents %></td>
        <td style="vertical-align: middle; text-align:center;"><%= trn_kadai_kanri.kadai_person %></td>
        <td style="vertical-align: middle; text-align:center;"><%= trn_kadai_kanri.kadai_status %></td>
        <td style="vertical-align: middle; text-align:center;"><%= trn_kadai_kanri.kadai_impt %></td>
        <td class="henshu-cell" style="text-align:center;">
          <%= link_to "照会", trn_kadai_kanri_path(trn_kadai_kanri), class: "square_btn2" %>
          <%= link_to "編集", edit_trn_kadai_kanri_path(trn_kadai_kanri), class: "square_btn2" %>
          <%= link_to "削除", trn_kadai_kanri_path(trn_kadai_kanri), method:"delete", class: "square_btn2" %>
        </td>
      </tr>
      <% @grid_no = @grid_no + 1 %>
  <% end %>
  <tbody>
  </table>
<div style="text-align: center">
  <%= will_paginate @trn_kadai_kanris,
                    renderer: BootstrapPagination::Rails,
                    previous_label: "前へ",
                    next_label: "次へ",
                    inner_window: 1,
                    outer_window: 0,
                    class:"pagination-sm"
  %>
</div>