<h1>ユーザ一覧</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th class="grid-th-width1 pc-only">No</th>
    <th class="grid-th-width3">ユーザ名</th>
    <th class="grid-th-width3">ログインID</th>
    <th class="grid-th-width4">編集欄</th>
  </tr>
  </thead>
  <tbody>
        <% @users.each do |user| %>
      <tr style="height:48px;">
        <td class="pc-only"><%= @grid_no.to_s %></td>
        <td class="user_nm-cell">
          <%= link_to user.user_nm, user %>
        <td class="user_cd-cell">
          <%= user.user_cd %>
        <td class="henshu-cell">
          <%= link_to "照会", mst_user_path(user) %>
          <%= link_to "編集", mst_user_path(user) %>
          <%= link_to "削除", mst_user_path(user), method:"delete" %> 
        </td>
      </tr>
          <% @grid_no = @grid_no + 1 %>
  <% end %>

  <tbody>
  </table>
<div style="text-align: center">
  <%= will_paginate @users,
                    renderer: BootstrapPagination::Rails,
                    previous_label: "前へ",
                    next_label: "次へ",
                    inner_window: 1,
                    outer_window: 0,
                    class:"pagination-sm"
  %>
</div>