<!DOCTYPE html>
<html>
<head>
  <title>PMwave (Ruby on Rails)</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <%= javascript_include_tag 'application' %>
  <style type="text/css">
    .waku{
      padding:20px;
      margin-bottom:20px;
      border-radius:4px;
      border:2px solid #ddd;
    }
    @media (max-width: 768px) {
      h1#title{
        font-size:16pt;
      }
      a {
        -webkit-tap-highlight-color: rgba(16, 16, 16, 0.3);
      }
      .pc-only{
        display:none;
      }
      .grid-th-width1{
        width:0%;
      }
      .grid-th-width2{
        width:50%;
      }
      .grid-th-width3{
        width:15%;
      }
      .grid-th-width4{
        width:20%;
      }
      .grid-th-width5{
        width:15%;
      }
      .henshu-cell a{
        display:block;
        text-align:center;
      }
    }
    @media (min-width: 769px) {
      h1#title{
        font-size:24pt;
      }
      .grid-th-width1{
        width:7%;
      }
      .grid-th-width2{
        width:55%;
      }
      .grid-th-width3{
        width:20%;
      }
      .grid-th-width4{
        width:25%;
      }
      .grid-th-width5{
        width:15%;
      }
      .henshu-cell a{
        margin-right:10px;
      }
    }
  </style>
</head>
<body>
<script>
  $(function() {
    if ($("#trn_task_detail_kaishiyotei_ymd_str").length)
    {
      $("#trn_task_detail_kaishiyotei_ymd_str").datepicker();
      $("#trn_task_detail_kaishiyotei_ymd_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @task.present? %>
      $("#trn_task_detail_kaishiyotei_ymd_str").val("<%= @task.kaishiyotei_ymd_str %>");
      <% end %>
    }
    if ($("#trn_task_detail_syuryouyotei_ymd_str").length)
    {
      $("#trn_task_detail_syuryouyotei_ymd_str").datepicker();
      $("#trn_task_detail_syuryouyotei_ymd_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @task.present? %>
      $("#trn_task_detail_syuryouyotei_ymd_str").val("<%= @task.syuryouyotei_ymd_str %>");
      <% end %>
    }
    if ($("#trn_task_detail_start_ymd_str").length)
    {
      $("#trn_task_detail_start_ymd_str").datepicker();
      $("#trn_task_detail_start_ymd_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @task.present? %>
      $("#trn_task_detail_start_ymd_str").val("<%= @task.start_ymd_str %>");
      <% end %>
    }
    if ($("#trn_task_detail_end_ymd_str").length)
    {
      $("#trn_task_detail_end_ymd_str").datepicker();
      $("#trn_task_detail_end_ymd_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @task.present? %>
      $("#trn_task_detail_end_ymd_str").val("<%= @task.end_ymd_str %>");
      <% end %>
    }
    if ($(".alert").length)
    {
      $(".alert").show();
    }
    if ($("#slider").length)
    {
      $('#slider').slider({
       min: 0,
       max: 100,
       step: 10,
       value: 
        <% if @task.present? %>
          <% if @task.progress_rate.nil? %>
                0
          <% else %>
            <%= @task.progress_rate %>
          <% end %>
        <% end %>
       ,
       animate: 'fast',
       slide: function(event, ui){
          $('#trn_task_detail_progress_rate').html(ui.value);
          $('#trn_task_detail_progress_rate').val(ui.value);
        },
       //スライダーの初期化時に、その値をテキストボックスにも反映
       create: function(event, ui) {
          $('#trn_task_detail_progress_rate').val($(this).slider('option', 'value'));
        }
      })
    }
  });
</script>
<header id="header" style="background-color: #333;color:#fff">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 id="title">
          <% if signed_in? %>
          <%= link_to "PMwave (Ruby on Rails)", pj_tops_path%>
          <% else %>
          PMwave (Ruby on Rails)
          <% end %>
        </h1>
      </div>
        <ul class="headerlist">
          <% if signed_in? %>
          <li><%= link_to 'ユーザ一覧', mst_users_path %></li>
          <li><%= link_to 'アカウント作成', signup_path %></li>
          <li><%= link_to 'プロフィール', current_user %></li>
          <li><%= link_to 'タスク一覧', trn_task_details_path %></li>
          <li><%= link_to '予算一覧', trn_budget_details_path %></li>
          <li><%= link_to '予算実績一覧', trn_performance_details_path %></li>
          <li><%= link_to '工数一覧', trn_manhr_details_path %></li>
          <li><%= link_to '課題一覧', trn_kadai_kanris_path %></li>
          <li><%= link_to '品質管理（未実装）', top_hnsts_path %></li>
          <li><%= link_to '要件管理（未実装）', top_yokens_path %></li>
          <li><%= link_to 'ログアウト', signout_path, method: :delete %></li>
          <% else %>
          <% end %>
        </ul>
    </div>
  </div>
</header>
<main id="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% if @task.present? && @task.errors.present? %>
            <div class="alert alert-danger" style="margin-top:20px;border-width:3px;display:none">
              <ul>
                <% @task.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <% if @user.present? && @user.errors.present? %>
            <div class="alert alert-danger" style="margin-top:20px;border-width:3px;display:none">
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
         <% if flash[:msg].present? %>
          <div class="alert alert-info" style="margin-top:20px;border-width:3px;display:none">
            <ul>
              <li><%= flash[:msg] %></li>
            </ul>
          </div>
         <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</main>

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div style="padding-top:10px;text-align: center;border-top: 1px #999999 solid;">
          <p>フッター</p>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>