<!DOCTYPE html>
<html>
<head>
  <title>PMwave (Ruby on Rails)</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <%= javascript_include_tag 'application' %>
  <style type="text/css">
    .waku{
      padding:20px;
      margin-bottom:20px;
      border-radius:4px;
      border:2px solid #364e96;
    }
    @media (max-width: 768px) {
      h1#title{
        font-size:16pt;
      }
      a {
        -webkit-tap-highlight-color: rgba(16, 16, 16, 0.3);
      }
      .pc-only{
        display:none;
      }
      .grid-th-width1{
        width:5%;
        text-align:center;
      }
      .grid-th-width2{
        width:30%;
        text-align:center;
      }
      .grid-th-width3{
        width:20%;
        text-align:center;
      }
      .grid-th-width4{
        width:10%;
        text-align:center;
      }
      .grid-th-width5{
        width:10%;
        text-align:center;
      }
      .grid-th-width6{
        width:6%;
        text-align:center;
      }
      .grid-th-width7{
        width:19%;
        text-align:center;
      }
      .grid-th-width8{
        width:10%;
        text-align:center;
      }
      .grid-th-width9{
        width:20%;
        text-align:center;
      }
      .grid-th-width10{
        width:10%;
        text-align:center;
      }
      .grid-th-width11{
        width:25%;
        text-align:center;
      }
      .grid-th-width12{
        width:5%;
        text-align:center;
      }
      .grid-th-width13{
        width:30%;
        text-align:center;
      }
      .henshu-cell a{
        display:block;
        text-align:center;
      }
    }
    @media (min-width: 769px) {
      h1#title{
        font-size:24pt;
      }
      .grid-th-width1{
        width:5%;
        text-align:center;
        font-size:9pt;
      }
      .grid-th-width2{
        width:8%;
        text-align:center;
        font-size:9pt;
      }
      .grid-th-width3{
        width:15%;
        text-align:center;
        font-size:9pt;
      }
      .grid-th-width4{
        width:20%;
        text-align:center;
        font-size:9pt;
      }
      .grid-th-width5{
        width:25%;
        text-align:center;
        font-size:9pt;
      }
      .grid-th-width6{
        width:30%;
        text-align:center;
        font-size:9pt;
      }
      .grid-th-width7{
        width:35%;
        text-align:center;
        font-size:9pt;
      }
      .grid-th-width8{
        width:40%;
        text-align:center;
        font-size:9pt;
      }
      .grid-th-width9{
        width:45%;
        text-align:center;
        font-size:9pt;
      }
      .grid-th-width10{
        width:50%;
        text-align:center;
        font-size:9pt;
      }
      .henshu-cell a{
        margin-right:10px;
        text-align:center;
      }
    }
  </style>
</head>
<body>
<script>
  $(function() {
     if ($("#trn_yoken_kanri_yoken_limit_str").length)
    {
      $("#trn_yoken_kanri_yoken_limit_str").datepicker();
      $("#trn_yoken_kanri_yoken_limit_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_yoken_kanri.present? %>
      $("#trn_yoken_kanri_yoken_limit_str").val("<%= @trn_yoken_kanri.yoken_limit_str %>");
      <% end %>
    }
    if ($("#trn_yoken_kanri_yoken_try_d_str").length)
    {
      $("#trn_yoken_kanri_yoken_try_d_str").datepicker();
      $("#trn_yoken_kanri_yoken_try_d_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_yoken_kanri.present? %>
      $("#trn_yoken_kanri_yoken_try_d_str").val("<%= @trn_yoken_kanri.yoken_try_d_str %>");
      <% end %>
    }
    if ($("#trn_yoken_kanri_yoken_try2_d_str").length)
    {
      $("#trn_yoken_kanri_yoken_try2_d_str").datepicker();
      $("#trn_yoken_kanri_yoken_try2_d_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_yoken_kanri.present? %>
      $("#trn_yoken_kanri_yoken_try2_d_str").val("<%= @trn_yoken_kanri.yoken_try2_d_str %>");
      <% end %>
    }
    if ($("#trn_yoken_kanri_yoken_try3_d_str").length)
    {
      $("#trn_yoken_kanri_yoken_try3_d_str").datepicker();
      $("#trn_yoken_kanri_yoken_try3_d_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_yoken_kanri.present? %>
      $("#trn_yoken_kanri_yoken_try3_d_str").val("<%= @trn_yoken_kanri.yoken_try3_d_str %>");
      <% end %>
    }
    if ($("#trn_yoken_kanri_yoken_inst_ymd_str").length)
    {
      $("#trn_yoken_kanri_yoken_inst_ymd_str").datepicker();
      $("#trn_yoken_kanri_yoken_inst_ymd_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_yoken_kanri.present? %>
      $("#trn_yoken_kanri_yoken_inst_ymd_str").val("<%= @trn_yoken_kanri.yoken_inst_ymd_str %>");
      <% end %>
    }
    if ($("#trn_yoken_kanri_yoken_updt_ymd_str").length)
    {
      $("#trn_yoken_kanri_yoken_updt_ymd_str").datepicker();
      $("#trn_yoken_kanri_yoken_updt_ymd_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_yoken_kanri.present? %>
      $("#trn_yoken_kanri_yoken_updt_ymd_str").val("<%= @trn_yoken_kanri.yoken_updt_ymd_str %>");
      <% end %>
    }
    if ($("#trn_yoken_kanri_yoken_del_ymd_str").length)
    {
      $("#trn_yoken_kanri_yoken_del_ymd_str").datepicker();
      $("#trn_yoken_kanri_yoken_del_ymd_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_yoken_kanri.present? %>
      $("#trn_yoken_kanri_yoken_del_ymd_str").val("<%= @trn_yoken_kanri.yoken_del_ymd_str %>");
      <% end %>
    }
    if ($("#trn_yoken_kanri_yoken_updt_s_end_str").length)
    {
      $("#trn_yoken_kanri_yoken_updt_s_end_str").datepicker();
      $("#trn_yoken_kanri_yoken_updt_s_end_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_yoken_kanri.present? %>
      $("#trn_yoken_kanri_yoken_updt_s_end_str").val("<%= @trn_yoken_kanri.yoken_updt_s_end_str %>");
      <% end %>
    }
    if ($("#trn_yoken_kanri_yoken_updt_t_end_str").length)
    {
      $("#trn_yoken_kanri_yoken_updt_t_end_str").datepicker();
      $("#trn_yoken_kanri_yoken_updt_t_end_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_yoken_kanri.present? %>
      $("#trn_yoken_kanri_yoken_updt_t_end_str").val("<%= @trn_yoken_kanri.yoken_updt_t_end_str %>");
      <% end %>
    }
    if ($("#trn_kadai_kanri_kadai_limit_str").length)
    {
      $("#trn_kadai_kanri_kadai_limit_str").datepicker();
      $("#trn_kadai_kanri_kadai_limit_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_kadai_kanri.present? %>
      $("#trn_kadai_kanri_kadai_limit_str").val("<%= @trn_kadai_kanri.kadai_limit_str %>");
      <% end %>
    }
    if ($("#trn_kadai_kanri_kadai_try_d_str").length)
    {
      $("#trn_kadai_kanri_kadai_try_d_str").datepicker();
      $("#trn_kadai_kanri_kadai_try_d_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_kadai_kanri.present? %>
      $("#trn_kadai_kanri_kadai_try_d_str").val("<%= @trn_kadai_kanri.kadai_try_d_str %>");
      <% end %>
    }
    if ($("#trn_kadai_kanri_kadai_try2_d_str").length)
    {
      $("#trn_kadai_kanri_kadai_try2_d_str").datepicker();
      $("#trn_kadai_kanri_kadai_try2_d_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_kadai_kanri.present? %>
      $("#trn_kadai_kanri_kadai_try2_d_str").val("<%= @trn_kadai_kanri.kadai_try2_d_str %>");
      <% end %>
    }
    if ($("#trn_kadai_kanri_kadai_try3_d_str").length)
    {
      $("#trn_kadai_kanri_kadai_try3_d_str").datepicker();
      $("#trn_kadai_kanri_kadai_try3_d_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_kadai_kanri.present? %>
      $("#trn_kadai_kanri_kadai_try3_d_str").val("<%= @trn_kadai_kanri.kadai_try3_d_str %>");
      <% end %>
    }
    if ($("#trn_kadai_kanri_kadai_inst_ymd_str").length)
    {
      $("#trn_kadai_kanri_kadai_inst_ymd_str").datepicker();
      $("#trn_kadai_kanri_kadai_inst_ymd_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_kadai_kanri.present? %>
      $("#trn_kadai_kanri_kadai_inst_ymd_str").val("<%= @trn_kadai_kanri.kadai_inst_ymd_str %>");
      <% end %>
    }
    if ($("#trn_kadai_kanri_kadai_updt_ymd_str").length)
    {
      $("#trn_kadai_kanri_kadai_updt_ymd_str").datepicker();
      $("#trn_kadai_kanri_kadai_updt_ymd_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_kadai_kanri.present? %>
      $("#trn_kadai_kanri_kadai_updt_ymd_str").val("<%= @trn_kadai_kanri.kadai_updt_ymd_str %>");
      <% end %>
    }
    if ($("#trn_kadai_kanri_kadai_del_ymd_str").length)
    {
      $("#trn_kadai_kanri_kadai_del_ymd_str").datepicker();
      $("#trn_kadai_kanri_kadai_del_ymd_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_kadai_kanri.present? %>
      $("#trn_kadai_kanri_kadai_del_ymd_str").val("<%= @trn_kadai_kanri.kadai_del_ymd_str %>");
      <% end %>
    }
    if ($("#trn_kadai_kanri_kadai_updt_s_end_str").length)
    {
      $("#trn_kadai_kanri_kadai_updt_s_end_str").datepicker();
      $("#trn_kadai_kanri_kadai_updt_s_end_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_kadai_kanri.present? %>
      $("#trn_kadai_kanri_kadai_updt_s_end_str").val("<%= @trn_kadai_kanri.kadai_updt_s_end_str %>");
      <% end %>
    }
    if ($("#trn_kadai_kanri_kadai_updt_t_end_str").length)
    {
      $("#trn_kadai_kanri_kadai_updt_t_end_str").datepicker();
      $("#trn_kadai_kanri_kadai_updt_t_end_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @trn_kadai_kanri.present? %>
      $("#trn_kadai_kanri_kadai_updt_t_end_str").val("<%= @trn_kadai_kanri.kadai_updt_t_end_str %>");
      <% end %>
    }
    if ($("#trn_task_detail_kaishiyotei_ymd_str").length)
    {
      $("#trn_task_detail_kaishiyotei_ymd_str").datepicker();
      $("#trn_task_detail_kaishiyotei_ymd_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @task.present? %>
      $("#trn_task_detail_kaishiyotei_ymd_str").val("<%= @task.kaishiyotei_ymd_str %>");
      <% end %>
    }
    if ($("#trn_task_detail_syuryouyotei_ymd_str").length)
    {
      $("#trn_task_detail_syuryouyotei_ymd_str").datepicker();
      $("#trn_task_detail_syuryouyotei_ymd_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @task.present? %>
      $("#trn_task_detail_syuryouyotei_ymd_str").val("<%= @task.syuryouyotei_ymd_str %>");
      <% end %>
    }
    if ($("#trn_task_detail_start_ymd_str").length)
    {
      $("#trn_task_detail_start_ymd_str").datepicker();
      $("#trn_task_detail_start_ymd_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @task.present? %>
      $("#trn_task_detail_start_ymd_str").val("<%= @task.start_ymd_str %>");
      <% end %>
    }
    if ($("#trn_task_detail_end_ymd_str").length)
    {
      $("#trn_task_detail_end_ymd_str").datepicker();
      $("#trn_task_detail_end_ymd_str").datepicker("option", "dateFormat", 'yymmdd');
      <% if @task.present? %>
      $("#trn_task_detail_end_ymd_str").val("<%= @task.end_ymd_str %>");
      <% end %>
    }
    if ($(".alert").length)
    {
      $(".alert").show();
    }
    if ($("#list").length)
    {
      $("#list").sortable({
        axis: 'y',
        cursor: 'move',
        opacity: 0.2,
        items: '>*',
        placeholder: 'sort-placeholder',
        forcePlaceholderSize: true,
       //ドラッグ中の幅をテーブルに合わせる
        start: function(e, ui) {
          tableWidth = $(this).width(),
          cells = ui.item.children('td'),
          widthForEachCell = tableWidth / cells.length + 'px',
          cells.css('width', widthForEachCell)
          },
       //ドロップ時にハイライトさせる
        stop: function(e, ui) {
          ui.item.children('td').effect('highlight')
          },
       //Ajaxリクエストを送信する
        update: function(e, ui) {
          item = ui.item,
          item_data = item.data(),
          //req_url = item.data('updateUrl'),
          params = { _method: 'put' },
          params[item_data.modelName] = { row_order_position: item.index() },
           $.ajax({
             type: 'POST',
             url: item_data.updateUrl,
             dataType: 'json',
             data: params
           });
        }
      });
    }
    if ($("#slider").length)
    {
      <% if @task.present? %>
        <% if @task.progress_rate.nil? %>
           val = 0
        <% else %>
           val = <%= @task.progress_rate %>
        <% end %>
      <% end %>
      $("#slider").slider({
       min: 0,
       max: 100,
       step: 10,
       value: val ,
       animate: 'fast',
       slide: function(event, ui){
          $('#trn_task_detail_progress_rate').html(ui.value);
          $('#trn_task_detail_progress_rate').val(ui.value);
        },
       //スライダーの初期化時に、その値をテキストボックスにも反映
       create: function(event, ui) {
          $('#trn_task_detail_progress_rate').val($(this).slider('option', 'value'));
        }
      })
    }
  });
</script>
<header id="header" style="background-color: #333;color:#fff">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 id="title">
          <% if signed_in? %>
          <%= link_to "PMwave (Ruby on Rails)", pj_tops_path%>
          <% else %>
          PMwave (Ruby on Rails)
          <% end %>
        </h1>
      </div>
        <ul class="headerlist">
          <% if signed_in? %>
          <li><%= link_to 'ユーザ一覧', mst_users_path %></li>
              <% if account_roll_check? %>
                  <li><%= link_to 'アカウント作成', signup_path %></li>
              <% end %>
          <li><%= link_to 'グループ一覧', mst_groups_path %></li>
          <li><%= link_to 'プロフィール', current_user %></li>
          <li><%= link_to 'タスク一覧', trn_task_details_path %></li>
          <li><%= link_to '予算一覧', trn_budget_details_path %></li>
          <li><%= link_to '予算実績一覧', trn_performance_details_path %></li>
          <li><%= link_to '工数一覧', trn_manhr_details_path %></li>
          <li><%= link_to '課題一覧', trn_kadai_kanris_path %></li>
          <li><%= link_to '品質管理（未）', top_hnsts_path %></li>
          <li><%= link_to '要件管理（未）', trn_yoken_kanris_path %></li>
          <li><%= link_to 'スケジュール', schedules_path %></li>
          <li><%= link_to 'ログアウト', signout_path, method: :delete %></li>
          <% else %>
          <% end %>
        </ul>
    </div>
  </div>
</header>
<main id="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% if @trn_yoken_kanri.present? && @trn_yoken_kanri.errors.present? %>
            <div class="alert alert-danger" style="margin-top:20px;border-width:3px;display:none">
              <ul>
                <% @trn_yoken_kanri.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %> 
        <% if @trn_kadai_kanri.present? && @trn_kadai_kanri.errors.present? %>
            <div class="alert alert-danger" style="margin-top:20px;border-width:3px;display:none">
              <ul>
                <% @trn_kadai_kanri.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %> 
        <% if @task.present? && @task.errors.present? %>
            <div class="alert alert-danger" style="margin-top:20px;border-width:3px;display:none">
              <ul>
                <% @task.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <% if @user.present? && @user.errors.present? %>
            <div class="alert alert-danger" style="margin-top:20px;border-width:3px;display:none">
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <% if @group.present? && @group.errors.present? %>
            <div class="alert alert-danger" style="margin-top:20px;border-width:3px;display:none">
              <ul>
                <% @group.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
         <% if flash[:msg].present? %>
          <div class="alert alert-info" style="margin-top:20px;border-width:3px;display:none">
            <ul>
              <li><%= flash[:msg] %></li>
            </ul>
          </div>
         <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</main>

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div style="padding-top:10px;text-align: center;border-top: 1px #999999 solid;">
          <p>フッター</p>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>